*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white);
}
body{
    background: url(../resources/Mona_happy.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header{
    background-color: rgba(69, 32, 138, 0.733);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border: 5px solid rgb(255, 254, 254);
    border-radius: 10px;
    padding-bottom: 20px;
}
.header > .title{
    background-color: rgb(112, 64, 245);
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.26);
    
}
.header p{
    font-size: 20px;
}
.header .lasofisusi{
    color: deeppink;
}
.header a{
    color: royalblue;
    text-shadow: 0 0.5px 1px black;
}

.footer{
    background-color: rgb(112, 64, 245);
    text-align: center;
    margin-top: 40px;
}
